<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tokosahabat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_toko"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo_toko"
        android:supportsRtl="true"
        android:theme="@style/Theme.TokoSahabat"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.user.OrderanActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.CartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.SuccessActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.FormPembayaranActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.FormAlamatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.CheckoutUserActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.AkunUserActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.DetailUserActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DetailOrderAdminActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AllOrderAdminActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.DashboardUserActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EditProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddDataAdminActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DashboardAdminActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true" />
        <activity
            android:name=".activity.user.SignUpUserActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.LogInAdminActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.SignInActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>